.label {
  grid-area: label;
}

.input {
  grid-area: input;
}

.input input {
  width: 100%;
  font-size: 1.2em
}

.label label {
  font-size: 1.2em;
}

@media only screen and (min-width: 993px) {
  .form-input {
    width: 100%;
    padding-top: 1em;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0em 1em;
    grid-template-areas:
    "label input";
  }
}

@media only screen and (max-width: 992px) {
  .form-input {
    width: 100%;
    padding-top: 1em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0em 1em;
    grid-template-areas:
    "label"
    "input";
  }
}
