.body {
  background: url("/assets/img/login-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
@media only screen and (min-width: 993px) {
  .container {
    background: whitesmoke;
    min-height: calc(100vh - 3.5em);
    margin-top: 3.5em;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    background: whitesmoke;
    min-height: calc(100vh - 6em);
    margin-top: 2.5em;
    margin-bottom: 4.5em;
  }
}

